@model List<UserModel>
@{
    ViewData["Title"] = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Administrador"))
{
    <div class="card">
        <div class="card-header">
            <h3>Lista Usuario</h3>
        </div>
        <div class="card-body">
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMessage
                </div>
            }
            else
            {
                <a asp-action="InviteUser" class="btn btn-outline-success btn-sm">
                    <i class="bi bi-plus-circle"> Invitar Nuevo</i>
                </a>
                <hr />
                <div class="table-responsive mb-0">
                    <table class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.First().FullName)</th>
                                <th>@Html.DisplayNameFor(model => model.First().Email)</th>
                                <th>@Html.DisplayNameFor(model => model.First().Confirmado)</th>
                                <th>@Html.DisplayNameFor(model => model.First().IdStatus)</th>
                                <th>@Html.DisplayNameFor(model => model.First().Roles)</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.FullName</td>
                                    <td>@item.Email</td>
                                    <td>
                                        @switch (item.Confirmado)
                                        {
                                            case true:
                                                @:Si
                                                break;
                                            default:
                                                @:No
                                                break;
                                        }
                                    </td>
                                    <td>
                                        @switch (item.IdStatus)
                                        {
                                            case 1:
                                                @:Activo
                                                break;
                                            case 2:
                                                @:Inactivo
                                                break;
                                            case 3:
                                                @:Eliminado
                                                break;
                                            default:
                                                @:Desconocido
                                                break;
                                        }
                                    </td>
                                    <td>@string.Join(", ", item.Roles)</td>
                                    <td>
                                        <form asp-action="Editar2" method="post" style="display:inline">
                                            <input type="hidden" name="token" value="@item.Token" />
                                            <button type="submit" class="btn btn-warning btn-sm">
                                                <i class="bi bi-pen-fill"> Editar</i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        No tienes permisos para acceder a esta sección.
    </div>
}