@model List<Usuario>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Administrador"))
{
    <div class="card">
        <div class="card-header">
            <h3>Lista Usuario</h3>
        </div>
        <div class="card-body">
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMessage
                </div>
            }
            else
            {
                <a asp-action="InviteUser" asp-controller="Start" class="btn btn-outline-success btn-sm">
                    <i class="bi bi-plus-circle"> Invitar Nuevo</i>
                </a>
                <hr />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Confirmado</th>
                            <th>Estatus</th>
                            <th>Roles</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Nombre</td>
                                <td>@item.Correo</td>
                                <td>
                                    @switch (item.Confirmado)
                                    {
                                        case true:
                                            @:Si
                                            break;
                                        default:
                                            @:No
                                            break;
                                    }
                                </td>
                                <td>
                                    @switch (item.IdStatus)
                                    {
                                        case 1:
                                            @:Activo
                                            break;
                                        case 2:
                                            @:Inactivo
                                            break;
                                        case 3:
                                            @:Eliminado
                                            break;
                                        default:
                                            @:Desconocido
                                            break;
                                    }
                                </td>
                                <td>@string.Join(", ", item.Roles)</td>
                                <td>
                                    <a asp-action="Editar" asp-controller="Start" class="btn btn-outline-warning btn-sm" asp-route-Token="@item.Token">
                                        <i class="bi bi-pen-fill"> Editar</i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        No tienes permisos para acceder a esta sección.
    </div>
}