@model WebProveedoresN.Models.LoadFileDTO
@{
    ViewBag.Title = "Cargar Archivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="row justify-content-center mt-5">
        <div class="col-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">
                        Subir Factura para la Orden de Compra @Html.Encode(@ViewBag.OrderNumber) | @Html.Encode(@ViewBag.UserIpAddress)
                    </h3>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.FilePDF, htmlAttributes: new { @class = "control-label" })
                        <input type="file" id="pdfFile" name="FilePDF" class="form-control" accept=".pdf" />
                        @Html.ValidationMessageFor(model => model.FilePDF, "", new { @class = "text-danger" })
                        <p id="pdfFileName" class="text-info"></p>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.FileXML, htmlAttributes: new { @class = "control-label" })
                        <input type="file" id="xmlFile" name="FileXML" class="form-control" accept=".xml" />
                        @Html.ValidationMessageFor(model => model.FileXML, "", new { @class = "text-danger" })
                        <p id="xmlFileName" class="text-info"></p>
                    </div>

                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.Message
                        </div>
                    }

                    <div class="mb-3" style="text-align:center">
                        <div class="d-grid">
                            <input type="submit" value="Guardar" class="btn btn-outline-primary" />
                        </div>
                    </div>
                    <div id="progressBar" class="progress" style="display:none;">
                        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        document.getElementById('pdfFile').addEventListener('change', function (event) {
                   var file = event.target.files[0];
                   if (file && file.name.endsWith('.pdf')) {
                       document.getElementById('pdfFileName').textContent = file.name;
                   } else {
                       alert('Por favor, sube solo archivos PDF.');
                       event.target.value = '';
                       document.getElementById('pdfFileName').textContent = '';
                   }
               });

               document.getElementById('xmlFile').addEventListener('change', function (event) {
                   var file = event.target.files[0];
                   if (file && file.name.endsWith('.xml')) {
                       document.getElementById('xmlFileName').textContent = file.name;
                       var reader = new FileReader();
                       reader.onload = function (e) {
                           document.getElementById('xmlFileContent').textContent = e.target.result;
                       };
                       reader.readAsText(file);
                   } else {
                       alert('Por favor, sube solo archivos XML.');
                       event.target.value = '';
                       document.getElementById('xmlFileName').textContent = '';
                   }
               });

               document.querySelector('form').addEventListener('submit', function (event) {
                   var progressBar = document.getElementById('progressBar');
                   var progressBarInner = progressBar.querySelector('.progress-bar');
                   var submitButton = document.getElementById('submitButton');
                   progressBar.style.display = 'block';
                   submitButton.disabled = true;

                   var formData = new FormData(this);
                   var xhr = new XMLHttpRequest();
                   xhr.open('POST', this.action, true);
                   xhr.upload.onprogress = function (e) {
                       if (e.lengthComputable) {
                           var percentComplete = (e.loaded / e.total) * 100;
                           progressBarInner.style.width = percentComplete + '%';
                           progressBarInner.setAttribute('aria-valuenow', percentComplete);
                       }
                   };
                   xhr.onload = function () {
                       if (xhr.status === 200) {
                           clearInputs();
                       } else {
                           alert('Error al subir los archivos.');
                       }
                       progressBar.style.display = 'none';
                       submitButton.disabled = false;
                   };
                   xhr.onerror = function () {
                       alert('Error al subir los archivos.');
                       progressBar.style.display = 'none';
                       submitButton.disabled = false;
                   };
                   xhr.send(formData);
                   event.preventDefault();
               });

               function clearInputs() {
                     document.getElementById('pdfFile').value = '';
                     document.getElementById('xmlFile').value = '';
                     document.getElementById('pdfFileName').textContent = '';
                     document.getElementById('xmlFileName').textContent = '';
                     document.getElementById('xmlFileContent').textContent = '';
                }
    </script>
}
