@model IEnumerable<WebProveedoresN.Models.LecturaXmlDTO>

@{
    ViewBag.Title = "Archivos XML";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Archivos XML</h2>
<h5>Datos Factura</h5>
<a asp-action="ListOrders" asp-controller="Orders" class="btn btn-outline-secondary btn-sm">
    <i class="bi bi-arrow-left-square"></i> Listado
</a>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Folio) </th>
            <th>@Html.DisplayNameFor(model => model.Serie) </th>
            <th>@Html.DisplayNameFor(model => model.Version) </th>
            <th>@Html.DisplayNameFor(model => model.Sello) </th>
            <th>@Html.DisplayNameFor(model => model.UUID) </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var archivo in Model)
        {
            <tr>
                <td>@archivo.Folio</td>
                <td>@archivo.Serie</td>
                <td>@archivo.Version</td>
                <td>@archivo.Sello</td>
                <td>@archivo.UUID</td>
            </tr>
        }
    </tbody>
</table>
<h5>Datos RFC</h5>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ReceptorRfc) </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var archivo in Model)
        {
            <tr>
                <td>@archivo.ReceptorRfc</td>
            </tr>
        }
    </tbody>
</table>
<h5>Datos Proveedor</h5>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.EmisorNombre) </th>
            <th>@Html.DisplayNameFor(model => model.EmisorRfc) </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var archivo in Model)
        {
            <tr>
                <td>@archivo.EmisorNombre</td>
                <td>@archivo.EmisorRfc</td>
            </tr>
        }
    </tbody>
</table>

<h5>Datos Concepto</h5>
<table class="table">
    <thead>
        <tr>
            <th>Cantidad</th>
            <th>Descripcion </th>
            <th>ValorUnitario </th>
            <th>Importe </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var archivo in Model)
        {
            foreach (var concepto in archivo.Conceptos)
            {
                <tr>
                    <td>@concepto.Cantidad</td>
                    <td>@concepto.Descripcion</td>
                    <td>@concepto.ValorUnitario</td>
                    <td>@concepto.Importe</td>
                </tr>
            }
        }
    </tbody>
</table>