@using WebProveedoresN.Models
@using WebProveedoresN.ViewModel
@model CombinedDetailsOrderViewModel
@{
    ViewData["Title"] = "Detalles Orden -";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
@if (Model.Orders is null)
{
    <p class="text-danger">No se encontraron detalles para esta orden.</p>
}
else
{
    <div class="card">
        <div class="card-header">
            <span class="fs-2">
                Detalles de la Orden de Compra @Model.Orders.OrderNumber
            </span>
            <form asp-action="DetailsOrder" method="post">
                <input type="hidden" name="orderNumber" value="@Model.Orders.OrderNumber" />
                <input type="hidden" name="supplierCode" value="@Model.Orders.SupplierCode" />
                <input type="hidden" name="documentType" value="@Model.Orders.DocumentType" />
                <button type="submit" class="btn btn-outline-info btn-sm">
                    <i class="bi bi-arrow-repeat"> Actualizar</i>
                </button>
                <a asp-action="ListOrders" class="btn btn-outline-info btn-sm"><i class="bi bi-arrow-left-circle"> Regresar</i></a>
            </form>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="mb-1">
                        <p><strong>@Html.DisplayNameFor(model => model.Orders!.OrderNumber):</strong> @Model.Orders.OrderNumber.ToString()</p>
                        <p><strong>@Html.DisplayNameFor(model => model.Orders!.OrderDate):</strong> @(Model.Orders.OrderDate.ToString() != null ? ((DateTime)Model.Orders.OrderDate).ToShortDateString() : "No disponible")</p>
                        <p><strong>@Html.DisplayNameFor(model => model.Orders!.TotalAmount):</strong> @(Model.Orders.TotalAmount.ToString() != null ? ((decimal)Model.Orders.TotalAmount).ToString("C") : "No disponible")</p>
                        <p><strong>@Html.DisplayNameFor(model => model.Orders!.DocCurOrder):</strong> @(Model.Orders.DocCurOrder ?? "No disponible")</p>
                        <p><strong>@Html.DisplayNameFor(model => model.Orders!.Invoices):</strong> @(Model.Orders.Invoices.ToString() ?? "0")</p>
                        <p><strong>@Html.DisplayNameFor(model => model.Orders!.TotalInvoice):</strong> @(Model.Orders.TotalInvoice.ToString() != null ? ((decimal)Model.Orders.TotalInvoice).ToString("C") : "0")</p>
                    </div>
                </div>
                <div class="col-8 ms-auto">
                    <div class="table-responsive mb-0">
                        <table class="table-striped table-hover" style="border: 2px solid black; border-collapse:collapse; width: 100%;">
                            <thead class="table-dark">
                                <tr style="border: 1px solid black">
                                    <th>@Html.DisplayNameFor(model => model.OrderDetails!.First().ItemCode) </th>
                                    <th class="text-center">@Html.DisplayNameFor(model => model.OrderDetails!.First().QuantityOrder)</th>
                                    <th class="text-center">@Html.DisplayNameFor(model => model.OrderDetails!.First().OpenQty)</th>
                                    <th class="text-center">@Html.DisplayNameFor(model => model.OrderDetails!.First().PricePerItem)</th>
                                    <th class="text-center">@Html.DisplayNameFor(model => model.OrderDetails!.First().TotalItem)</th>
                                    <th class="text-center">@Html.DisplayNameFor(model => model.OrderDetails!.First().Tax)</th>
                                    <th class="text-center">@Html.DisplayNameFor(model => model.OrderDetails!.First().TotalTaxItem)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderDetails!)
                                {
                                    <tr style="border: 1px solid black">
                                        <td style="border: 1px solid black">@item.ItemCode</td>
                                        <td class="text-end" style="border: 1px solid black">@string.Format("{0:N2}", @item.QuantityOrder)</td>
                                        <td class="text-end" style="border: 1px solid black">@string.Format("{0:N2}", @item.OpenQty)</td>
                                        <td class="text-end" style="border: 1px solid black">@string.Format("{0:C2}", @item.PricePerItem)</td>
                                        <td class="text-end" style="border: 1px solid black">@string.Format("{0:C2}", @item.TotalItem)</td>
                                        <td class="text-end" style="border: 1px solid black">@string.Format("{0:C2}", (@item.Tax / 100) * @item.TotalItem)</td>
                                        <td class="text-end" style="border: 1px solid black">@string.Format("{0:C2}", @item.TotalTaxItem)</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr class="table-secondary">
                                    <td colspan="4" class="text-end"><strong>Total:</strong></td>
                                    <td class="text-end">@string.Format("{0:C2}", Model.OrderDetails.Sum(x => x.TotalItem))</td>
                                    <td class="text-end">@string.Format("{0:C2}", Model.OrderDetails.Sum(x => (x.Tax / 100) * x.TotalItem))</td>
                                    <td class="text-end">@string.Format("{0:C2}", Model.OrderDetails.Sum(x => x.TotalTaxItem))</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="col-12">
                    <span class="fs-3">
                        <label><strong>Entrada de Mercancía</strong></label>
                    </span>

                    @if (Model.OrderDetailsGoodsReceipt != null && Model.OrderDetailsGoodsReceipt.Any(x => x.DocNum != 0))
                    {
                        <div class="table-responsive">
                            <input type="hidden" name="orderNumber" value="@Model.Orders.OrderNumber" />
                            <table class="table table-striped">
                                <thead class="table-dark">
                                    <tr>
                                        <th class="text-center">@Html.DisplayNameFor(model => model.OrderDetailsGoodsReceipt!.First().DocNum)</th>
                                        <th class="text-center">@Html.DisplayNameFor(model => model.OrderDetailsGoodsReceipt!.First().InvoiceSupplier)</th>
                                        <th class="text-center">@Html.DisplayNameFor(model => model.OrderDetailsGoodsReceipt!.First().ItemCode)</th>
                                        <th class="text-center">@Html.DisplayNameFor(model => model.OrderDetailsGoodsReceipt!.First().DocStatus)</th>
                                        <th class="text-center">@Html.DisplayNameFor(model => model.OrderDetailsGoodsReceipt!.First().DocCur)</th>
                                        <th class="text-center">@Html.DisplayNameFor(model => model.OrderDetailsGoodsReceipt!.First().Quantity)</th>
                                        <th class="text-center">@Html.DisplayNameFor(model => model.OrderDetailsGoodsReceipt!.First().Total)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OrderDetailsGoodsReceipt)
                                    {
                                        @if (item.DocNum != 0)
                                        {
                                            <tr>
                                                <td class="text-center">@item.DocNum</td>
                                                <td class="text-center">@item.InvoiceSupplier</td>
                                                <td>@item.ItemCode</td>
                                                <td class="text-center">@item.DocStatus</td>
                                                <td class="text-center">@item.DocCur</td>
                                                <td class="text-end">@string.Format("{0:N2}", item.Quantity)</td>
                                                <td class="text-end">@string.Format("{0:C2}", item.Total)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <button class="btn btn-outline-secondary btn-sm" @(Model.Orders.Invoices == 0 ? "disabled" : "") onclick="mostrarDocumentos(@Model.Orders.OrderNumber)">
                                <i class="bi bi-cloud-download-fill"> Mostrar Factura</i>
                            </button>
                            <button class="btn btn-outline-danger btn-sm" onclick="cerrarEmbed(@Model.Orders.OrderNumber)" style="display: none">
                                <i class="bi bi-x-circle-fill"> Cerrar Factura</i>
                            </button>

                            <div id="embed-container-@Model.Orders.OrderNumber" style="display:none;">
                                <div id="embed-list-@Model.Orders.OrderNumber" style="display: flex; justify-content: center; align-items: center; width: 100%; height: auto; max-height: 80vh; overflow: auto;">
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <p>Todavía no se ha cargado la entrada de mercancia.</p>
                    }
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    <script>
        function mostrarDocumentos(orderNumber) {
            $.ajax({
                url: '@Url.Action("GetDocuments", "Files")',
                type: 'GET',
                data: { orderNumber: orderNumber },
                success: function (response) {
                    if (response.success) {
                        var embedContainer = $('#embed-container-' + orderNumber);
                        var embedList = $('#embed-list-' + orderNumber);
                        var closeButton = $('button[onclick="cerrarEmbed(' + orderNumber + ')"]');
                        embedList.empty();
                        if (response.documents.length > 0) {
                            response.documents.forEach(function (document) {
                                var embedElement = $('<embed>', {
                                    src: '/UploadedFiles/' + document.dateTime + '_' + document.orderNumber + '_' + document.name + document.extension,
                                    type: 'application/pdf',
                                    width: '90%',
                                    height: '500px',
                                    class: 'mb-2',
                                });
                                embedList.append(embedElement);
                            });
                            embedContainer.show();
                            closeButton.show();
                        } else {
                            alert('No se encontraron documentos.');
                            closeButton.hide();
                        }
                    } else {
                        alert(response.message);
                    }
                }
            });
        }
        function cerrarEmbed(orderNumber) {
            $.ajax({
                url: '@Url.Action("CerrarEmbed", "Files")',
                type: 'POST',
                data: { orderNumber: orderNumber },
                success: function (response) {
                    if (response.success) {
                        var embedContainer = $('#embed-container-' + orderNumber);
                        var closeButton = $('button[onclick="cerrarEmbed(' + orderNumber + ')"]');
                        embedContainer.hide();
                        closeButton.hide();
                    } else {
                        alert('Error al cerrar el embed.');
                    }
                }
            });
        }
    </script>
}
