@model IEnumerable<WebProveedoresN.Models.OrderDTO>

@{
    ViewData["Title"] = "Órdenes de Compra";
}

@if (ViewBag.Empresa != null)
{
    <h1>Órdenes de Compra para: @ViewBag.Empresa</h1>
}

<p>
    <a asp-action="Create">Crear Nueva Orden</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Número de Orden</th>
            <th>Fecha de Orden</th>
            <th>Monto Total</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderNumber</td>
                <td>@item.OrderDate.ToShortDateString()</td>
                <td>@item.TotalAmount.ToString("C")</td>
                <td>@item.Status.ToString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderNumber">Cargar Facturas</a> |
                </td>
            </tr>
        }
    </tbody>
</table>