@using WebProveedoresN.DTOs
@using WebProveedoresN.Models
@model PaginationDTO<Order>

@{
    ViewData["Title"] = "Órdenes de Compra";
}
@Html.AntiForgeryToken()
@if (Model is null)
{
    <img src="https://cdn.pixabay.com/animation/2023/10/08/03/19/03-19-26-213_512.gif"/>
}
else
{
    <div class="card">
        <div class="mb-3">
            <div class="card-header">
                <h4 class="text-center">Órdenes de Compra para: </h4>
                <h4 class="text-center">@User.FindFirst("SupplierName")!.Value</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-action="ListOrders" class="d-flex justify-content-between align-items-center mb-3">
                    <p>
                        <a asp-action="ListOrders" class="btn btn-outline-success btn-sm">
                            <i class="bi bi-arrow-repeat">  Actualizar</i>
                        </a>
                    </p>
                    <div class=" input-group mb-3" style="max-width: 300px">
                        <input type="text" name="searchString" value="@ViewBag.SearchString" placeholder="Número de orden..." class="form-control" />
                        <button type="submit" class="btn btn-outline-primary btn-sm"><i class="bi bi-binoculars-fill"> Buscar</i></button>
                    </div>
                </form>
                <div class="mb-0">
                    <table class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>Numero de Orden</th>
                                <th>Fecha</th>
                                <th>Importe Total</th>
                                <th>Moneda</th>
                                <th># Factura(s)</th>
                                <th>Monto factura(s)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model!)
                            {
                                <tr>
                                    <td>@item.OrderNumber.ToString()</td>
                                    <td>@item.OrderDate.ToShortDateString()</td>
                                    <td>@item.TotalAmount.ToString("C")</td>
                                    <td>@item.DocCurOrder.ToString()</td>
                                    <td>@item.Invoices.ToString()</td>
                                    <td>@item.TotalInvoice.ToString("C")</td>
                                    <td>
                                        <form asp-action="Upload" asp-controller="Files" method="post" style="display:inline">
                                            <input type="hidden" name="orderNumber" value="@item.OrderNumber" />
                                            <input type="hidden" name="supplierCode" value="@item.SupplierCode" />
                                            <button type="submit" class="btn btn-outline-info btn-sm">
                                                <i class="bi bi-ticket-detailed-fill"> Cargar Factura</i>
                                            </button>
                                        </form>
                                        <form asp-action="DetailsOrder" method="post" style="display:inline">
                                            <input type="hidden" name="orderNumber" value="@item.OrderNumber" />
                                            <input type="hidden" name="supplierCode" value="@item.SupplierCode" />
                                            <input type="hidden" name="documentType" value="@item.DocumentType" />
                                            <button type="submit" class="btn btn-outline-info btn-sm">
                                                <i class="bi bi-ticket-detailed-fill"> Detalles</i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @{
                    var previousDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }
                <div class="d-flex justify-content-center">
                    <a asp-action="ListOrders" asp-route-pageNumber="@(ViewBag.PageNumber - 1)" asp-route-searchString="@ViewBag.SearchString" class="btn btn-outline-dark btn-sm @previousDisabled">Anterior</a>
                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        var pageActive = (i == Model.PageNumber) ? "active" : "";
                        <a asp-action="ListOrders" asp-route-pageNumber="@i" asp-route-searchString="@ViewBag.SearchString" class="btn btn-outline-dark btn-sm @pageActive">@i</a>
                        <a></a>
                    }
                    <a asp-action="ListOrders" asp-route-pageNumber="@(ViewBag.PageNumber + 1)" asp-route-searchString="@ViewBag.SearchString" class="btn btn-outline-dark btn-sm @nextDisabled">Siguiente</a>
                </div>
            </div>
        </div>
    </div>
}
