@using WebProveedoresN.Models
@model PaginationDTO<OrderDTO>

@{
    ViewData["Title"] = "Órdenes de Compra";
}
@Html.AntiForgeryToken()

<div class="card">
    <div class="card-header">
        <h2 class="text-center">Órdenes de Compra para: </h2>
        <h2 class="text-center">@ViewBag.Empresa</h2>
    </div>
    <div class="card-body">
        <form method="get" asp-action="ListOrders" class="d-flex justify-content-end">
            <div class=" input-group mb-3" style="max-width: 300px">
                <input type="text" name="searchString" value="@ViewBag.SearchString" placeholder="Número de orden" class="form-control" />
                <button type="submit" class="btn btn-outline-primary">Buscar</button>
            </div>
        </form>
        <p>
            <a asp-action="ListOrders" class="btn btn-outline-success"><i class="bi bi-arrow-repeat"></i>  Actualizar</a>
        </p>
        <hr />
        <table class="table text-center">
            <thead>
                <tr>
                    <th>Numero de Orden</th>
                    <th>Fecha</th>
                    <th>Importe Total</th>
                    <th>Moneda</th>
                    <th># Factura(s)</th>
                    <th>Monto factura(s)</th>
                    <th>Factura(s)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.OrderNumber</td>
                        <td>@item.OrderDate.ToShortDateString()</td>
                        <td>@item.TotalAmount.ToString("C")</td>
                        <td>@item.Currency.ToString()</td>
                        <td>@item.Invoices.ToString()</td>
                        <td>@item.TotalInvoice.ToString("C")</td>
                        <td>
                            <a asp-action="Upload" asp-controller="Archivos" asp-route-orderNumber="@item.OrderNumber" asp-route-orderId="@item.Id" class="btn btn-outline-primary btn-sm">
                                <i class="bi bi-cloud-upload-fill"></i> Cargar
                            </a>
                            <button class="btn btn-outline-secondary btn-sm" onclick="mostrarDocumentos('@item.OrderNumber')">
                                <i class="bi bi-cloud-download-fill"></i> Mostrar
                            </button>
                            <button class="btn btn-outline-danger btn-sm" onclick="cerrarEmbed('@item.OrderNumber')">
                                <i class="bi bi-x-circle-fill"> Cerrar</i>
                            </button>                           <div id="embed-container-@item.OrderNumber" style="display:none;">
                                <div id="embed-list-@item.OrderNumber"></div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @{
            var previousDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <div class="d-flex justify-content-center">
            <a asp-action="ListOrders" asp-route-pageNumber="@(ViewBag.PageNumber - 1)" asp-route-searchString="@ViewBag.SearchString" class="btn btn-outline-dark btn-sm @previousDisabled">Anterior</a>
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                var pageActive = (i == Model.PageNumber) ? "active" : "";
                <a asp-action="ListOrders" asp-route-pageNumber="@i" asp-route-searchString="@ViewBag.SearchString" class="btn btn-outline-dark btn-sm @pageActive">@i</a>
                <a></a>
            }
            <a asp-action="ListOrders" asp-route-pageNumber="@(ViewBag.PageNumber + 1)" asp-route-searchString="@ViewBag.SearchString" class="btn btn-outline-dark btn-sm @nextDisabled">Siguiente</a>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function mostrarDocumentos(orderNumber) {
            $.ajax({
                url: '@Url.Action("ObtenerDocumentos", "Archivos")',
                type: 'GET',
                data: { orderNumber: orderNumber },
                success: function (response) {
                    if (response.success) {
                        var embedContainer = $('#embed-container-' + orderNumber);
                        var embedList = $('#embed-list-' + orderNumber);
                        embedList.empty(); // Clear previous embeds
                        if (response.documents.length > 0) {
                            response.documents.forEach(function (document) {
                                var embedElement = $('<embed>', {
                                    src: '/UploadedFiles/' + document.name + document.extension,
                                    type: 'application/pdf',
                                    width: '100%',
                                    height: '400px',
                                    class: 'mb-2'
                                });
                                embedList.append(embedElement);
                            });
                            embedContainer.show();
                        } else {
                            alert('No se encontraron documentos.');
                        }
                    } else {
                        alert(response.message);
                    }
                }
            });
        }      
        function cerrarEmbed(orderNumber) {
            $.ajax({
                url: '@Url.Action("CerrarEmbed", "Archivos")',
                type: 'POST',
                data: { orderNumber: orderNumber },
                success: function (response) {
                    if (response.success) {
                        var embedContainer = $('#embed-container-' + orderNumber);
                        embedContainer.hide();
                    } else {
                        alert('Error al cerrar el embed.');
                    }
                }
            });
        }
    </script>
}